body {
    background-image: url("backgrounds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    margin: 0 auto; 
    text-align: center; 
}

.maincontainer {
    /*padding: 15px;
    margin: 20px;
    margin-top: 300px;*/
    text-align: center;
    margin: auto;
    
}

.rownavbar {
    text-align: center;
    align-content: center;
    padding: 50px;
    margin: auto;
    position: absolute;
    padding-left: 560px;
    padding-right: 300px;*/
    /*padding-top: 300px;*/
}

.pic {
    margin-left: -45%;
    width: 200%;
}

/*h1 {
    text-align: center;
    padding: 210px;
}*/

li a:hover {
    color: #9CB5FF; /*text color when hovering*/
    display: center;
    font-size: 14px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    overflow: hidden;
     /*navbar color*/
    width: 150%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.rownavbar img {
    width: 125%;
    background-color: transparent;
}

li {
    float: center;
    background-color: lightblue;
}

li a {
    display: block;
    color: white; /*text color when not hovering*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gainsboro; /*navbar color when hovering*/
    text-decoration: none;
}
